.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #419D78;
    height: 250px;
}
  
.header__title { 
    padding-bottom: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

.header__description { 
    padding: 0 20px;
    font-weight: 300;
 }

@media (max-width: 768px) {
    .header__title {
        font-size: 20px;
    }

    .header__description {
        font-size: 16px;
    }
}